<ActionBar class="action-bar" width="100%" backgroundColor="#96c93d">
  <!-- <NavigationButton></NavigationButton> -->
  <FlexboxLayout alignItems="center" width="100%" justifyContent="space-between">
    <Label class="fas" color="#fff" padding="10 20" style="font-size: 20" text="&#xf104;" (tap)="onTap($event)"></Label>
    <Label text="Municipalidad de La Molina" color="#fff"></Label>
  </FlexboxLayout>
</ActionBar>

<GridLayout>
  <ScrollView (scroll)="onScroll($event)">
    <StackLayout [minHeight]="minHeight">
      <GridLayout #imageContainer [translateY]="offset" backgroundColor="#000000" class="header-background-view"
        (loaded)="animateIn(imageContainer, 300, 0)" class="landmark-header">
        <Image #image [opacity]="imageOpacity" src="~/app/img/informante.png" stretch="aspectFit"></Image>
      </GridLayout>

      <GridLayout #landmarkLayout rows="auto,auto" columns="auto,auto,*" translateY="500" (loaded)="animateIn(landmarkLayout, 300, 150)"
        class="landmark-content">
        <Label #title colSpan="3" textWrap="true" text="Distrito de La Molina" scaleX="0.7" scaleY="0.7" translateX="-30" (loaded)="animateIn(title, 250, 150)"
          class="landmark-name"></Label>

        <StackLayout #landmarkDescription row="1" colSpan="3" translateY="500" textWrap="true" (loaded)="animateIn(landmarkDescription, 250, 500)"
          class="landmark-description">
          <StackLayout *ngFor="let item of aboutContent">
            <Label textWrap="true" [text]="item.title"></Label>
            <Label textWrap="true" [text]="item.description"></Label>
          </StackLayout>
        </StackLayout>
      </GridLayout>
    </StackLayout>
  </ScrollView>
  <GridLayout #dockedLabelContainer verticalAlignment="top" height="48" [opacity]="dockedLabelOpacity" class="docked-label-container">
    <Label text="Distrito de La Molina" [opacity]="dockedLabelTextOpacity" class="docked-label-text"></Label>
  </GridLayout>
</GridLayout>