  <!-- <StackLayout class="splashScreen">
  <Label text="With loadMode set to async the UI won't be blocked" textWrap="true"></Label>
</StackLayout> -->

<StackLayout class="splashScreen" >
  <StackLayout class="titleLayout">
    <Label text="Municipalidad de La Molina" horizontalAlignment="center" class="title" margin="20"></Label>
  </StackLayout>
  <ScrollView scrollBarIndicatorVisible="false">
    <StackLayout margin="0 15">
      <!-- <Repeater items="{{ sections }}">
        <Repeater.itemTemplate>
          <Button text="Button"></Button>
        </Repeater.itemTemplate>
      </Repeater> -->
      <StackLayout class="singleSection"> 
        <GridLayout columns="60, auto, *" rows="60, auto, *" width="230" height="230" backgroundColor="lightgray">
          <Label text="Label 1" row="0" col="0" backgroundColor="red"></Label>
          <Label text="Label 2" row="0" col="1" colSpan="2" backgroundColor="green"></Label>
          <Label text="Label 3" row="1" col="0" rowSpan="2" backgroundColor="blue"></Label>
          <Label text="Label 4" row="1" col="1" backgroundColor="yellow"></Label>
          <Label text="Label 5" row="1" col="2" backgroundColor="orange"></Label>
          <Label text="Label 6" row="2" col="1" backgroundColor="pink"></Label>
          <Label text="Label 7" row="2" col="2" backgroundColor="purple"></Label>
        </GridLayout>
      </StackLayout>
      <StackLayout class="singleSection">
        <Label text="section"></Label>
      </StackLayout>
      <StackLayout class="singleSection">
        <Label text="section"></Label>
      </StackLayout>
      <StackLayout class="singleSection">
        <Label text="section"></Label>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</StackLayout>
