<StackLayout class="splashScreen">
  <FlexboxLayout padding="5 0" class="gastoTopBar" flexDirection="row" width="100%" alignItems="center">
    <Label class="fas" padding="10 20" style="font-size: 20" text="&#xf104;" (tap)="goBack()" color="#fff"></Label>
    <Label textWrap="false" text="Contraloría Vecinal" fontSize="16" textAlignment="center"></Label>
  </FlexboxLayout>
  <StackLayout>
    <ScrollView scrollBarIndicatorVisible="false">
      <StackLayout>
        <ActivityIndicator *ngIf="isBusy" [busy]="isBusy" class="activity-indicator"></ActivityIndicator>
        <StackLayout *ngIf="!isBusy">
          <FlexboxLayout padding="10 20" class="gastoTopBar" flexDirection="column">
            <Label margin="0 0 10 0" fontWeight="bold" textWrap="true" [text]="title" fontSize="16" horizontalAlignment="center"></Label>
            <Label marginTop="15" fontWeight="bold" fontSize="16" [text]="getExpense(currentExpense.devengado)"></Label>
          </FlexboxLayout>
          <Label margin="20 20 10" fontSize="16" text="Estructura del gasto" textWrap="true" color="#666"></Label>
          <StackLayout class="main-expenses">
            <!-- <RL:Ripple rippleColor="#000000" (tap)="goToExpense(gasto)"> -->
              <StackLayout class="single-expense" *ngFor="let gasto of gastos" (tap)="goToExpense(gasto)">
                <Label color="#50a8d6" fontSize="14" fontWeight="bold" [text]="gasto.nombre | titlecase" textWrap="true"></Label>
                <Label marginTop="10px" fontSize="14"  [text]="getExpense(gasto.devengado)" color="#666" textWrap="true"></Label>
              </StackLayout>
            <!-- </RL:Ripple> -->
          </StackLayout>
          <Label margin="20 20 10" fontSize="16" text="Detalle del gasto" textWrap="true" color="#666"></Label>
          <FlexBoxLayout class="filter-container">
            <StackLayout (tap)="selectYear()" [ngClass]="{'active': filterSelected === 'anual'}" class="filter-month">
              <Label fontSize="14" text="Anual" textAlignment="center"></Label>
            </StackLayout>
            <StackLayout (tap)="selectTrimester()" [ngClass]="{'active': filterSelected === 'trimestral'}" class="filter-month">
              <Label fontSize="14" text="Trimestral" textAlignment="center"></Label>
            </StackLayout>
            <StackLayout (tap)="selectMonths()" [ngClass]="{'active': filterSelected === 'mensual'}" class="filter-month">
              <Label fontSize="14" text="Mensual" textAlignment="center"></Label>
            </StackLayout>
          </FlexBoxLayout>
          <StackLayout *ngIf="filterSelected === 'mensual'" class="main-expenses">
            <FlexBoxLayout justifyContent="space-between" class="single-expense" *ngFor="let gasto of gastosMensuales">
              <Label fontSize="14" color="#50a8d6" fontWeight="bold" [text]="gasto.month | titlecase"></Label>
              <Label fontSize="14" color="#50a8d6" fontWeight="bold" [text]="expense | uppercase"></Label>
              <Label fontSize="14" color="#666" [text]="getExpense(gasto.devengado)"></Label>
            </FlexBoxLayout>
          </StackLayout>
          <StackLayout *ngIf="filterSelected === 'trimestral'" class="main-expenses">
            <FlexBoxLayout justifyContent="space-between" class="single-expense" *ngFor="let gasto of gastosMensuales">
              <Label fontSize="14" color="#50a8d6" fontWeight="bold" [text]="gasto.trimester | titlecase"></Label>
              <Label fontSize="14" color="#50a8d6" fontWeight="bold" [text]="expense | uppercase"></Label>
              <Label fontSize="14" color="#666" [text]="getExpense(gasto.devengado)"></Label>
            </FlexBoxLayout>
          </StackLayout>
          <StackLayout *ngIf="filterSelected === 'anual'" class="main-expenses">
            <FlexBoxLayout justifyContent="space-between" class="single-expense" *ngFor="let expense of currentExpenseKeys">
              <FlexBoxLayout alignItems="center">
                <Label fontSize="14" color="#50a8d6" fontWeight="bold" [text]="expense | uppercase"></Label>
                <Label marginLeft="10" class="fas" style="font-size: 16" text="&#xf059;" color="#50a8d6" (tap)="openInformation(expense)"></Label>
              </FlexBoxLayout>
              <Label fontSize="14" color="#666" [text]="getExpense(currentExpense[expense], expense)"></Label>
            </FlexBoxLayout>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </StackLayout>
</StackLayout>