<GridLayout rows="auto, *" class="splashScreen">
  <FlexboxLayout row="0" class="topView" flexDirection="row" width="100%" alignItems="center">
    <Label class="fas" padding="10 10" margin="5 15" style="font-size: 20" text="&#xf104;" (tap)="goBack()"></Label>
    <Label fontWeight="bold" text="Contraloría Vecinal" fontSize="18" horizontalAlignment="center"></Label>
  </FlexboxLayout>
  <StackLayout row="1">
    <ScrollView scrollBarIndicatorVisible="false">
      <StackLayout>
        <ActivityIndicator *ngIf="isBusy" [busy]="isBusy" class="activity-indicator"></ActivityIndicator>
      	<StackLayout *ngIf="!isBusy">
          <StackLayout class="gastoChild" *ngFor="let gasto of gastos" (tap)="goToExpense(gasto)">
            <Label color="#50a8d6" fontWeight="bold" [text]="gasto.nombre" lineHeight="5px" textWrap="true"></Label>
            <Label marginTop="5px" [text]="'S/. ' + gasto.devengado" lineHeight="10px" textWrap="true"></Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </StackLayout>
</GridLayout> 