<StackLayout>
  <ActionBar title="Contraloría Vecinal" >
    <NavigationButton tap="goBack" automationText="GoBack"></NavigationButton>
  </ActionBar>
  <StackLayout class="splashScreen">
    <TabView height="300px">
      <TabView.items>
        <TabViewItem title="Tab 1">
          <TabViewItem.view>
            <Label text="Trimestral"></Label>
          </TabViewItem.view>
        </TabViewItem>
        <TabViewItem title="Tab 2">
          <TabViewItem.view>
            <Label text="Mensual"></Label>
          </TabViewItem.view>
        </TabViewItem>
      </TabView.items>
    </TabView>
  </StackLayout>
</StackLayout>