// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';

// Customize any of the theme’s variables here, for instance $btn-color: red;

$primary: #fff;
$accent: #09f;

// Import the theme’s main ruleset.
@import '~nativescript-theme-core/scss/index';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

.splashScreen {
  // background: linear-gradient(to bottom, #96C93D, #00B09B);
  background: #f5f5f5;
}

.titleLayout {
  background-color: rgb(113, 177, 3); 
  color: white;
  margin-bottom: 20;
  .title {
    font-size: 20;
    font-weight: bold;
  }
}

.singleSection {
  background-color: white;
  box-shadow: 1px 1px 1px #eeeeee;
  color: black;
  width: 100%;
  margin: 10 30;
  padding: 20;
  border-radius: 10;
  .title {
    color: #96C93D;
    font-size: 18;
    font-weight: 800;
    margin-bottom: 6;
  }
  .description {
    font-size: 14;
    color: #666;
  }
}

.far {
  font-family: Font Awesome 5 Free, fa-regular-400;
  font-weight: 400; 
}

.fab {
  font-family: Font Awesome 5 Brands, fa-brands-400;
  font-weight: 400; 
}

.fas {
  font-family: Font Awesome 5 Free, fa-solid-900;
  font-weight: 400;
  color: #666;
}

// Contraloria

.topView {
  background: #fff;
  color: #96C93D;
  margin-bottom: 15;
  .fas {
    color: #96C93D;
  }
}

.gastoChild {
  background: #fff;
  border-radius: 5px;
  padding: 20;
  margin: 10 20;
}

.activity-indicator {
  margin-top: 30;
}

.main-expenses {
  background: #fff;
  border-radius: 5px;
  margin: 10 20;
  .single-expense {
    padding: 12 10;
    border-top-color: rgba(176, 222, 253, 0.733);
    border-top-width: 0.5px;
    &:first-child{
      border-top-width: 0px;
    }
  }
}

.filter-container {
  width: 90%;
  margin: 10 20;
}

.filter-month {
  background: #fff;
  padding: 10;
  width: 100%;
  border-left-color: rgba(176, 222, 253, 0.733);
  border-left-width: 0.5px;
  border-right-color: rgba(176, 222, 253, 0.733);
  border-right-width: 0.5px;
  &.active {
    background: #50a8d6;
    color: white;
  }
}