// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import "~nativescript-theme-core/scss/light";

// Customize any of the theme’s variables here, for instance $btn-color: red;

$primary: #fff;
$accent: #09f;
$green: #96c93d;
$darkGreen: #7db61a;
$red: #eb3c16;
$gray: #eeeeee;
$opacityGray: rgba(255, 255, 255, 0.3);
$darkblue: #070c1c;

// Import the theme’s main ruleset.
@import "~nativescript-theme-core/scss/index";

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

.splashScreen {
  // background: linear-gradient(to bottom, #96C93D, #00B09B);
  background: #f5f5f5;
}

.titleLayout {
  background-color: rgb(113, 177, 3);
  color: white;
  .title {
    font-size: 16;
    font-weight: bold;
  }
}

.singleSection {
  background-color: white;
  box-shadow: 1px 1px 1px #eeeeee;
  color: #666;
  width: 100%;
  margin: 10 30;
  padding: 20;
  border-radius: 10;
  .title {
    color: #96c93d;
    font-size: 16;
    font-weight: 800;
    margin-bottom: 6;
  }
  .description {
    font-size: 12;
    color: #666;
  }
  &:pressed {
    background-color: #00a3ff;
  }
}

.far {
  font-family: Font Awesome 5 Free, fa-regular-400;
  font-weight: 400;
}

.fab {
  font-family: Font Awesome 5 Brands, fa-brands-400;
  font-weight: 400;
}

.fas {
  font-family: Font Awesome 5 Free, fa-solid-900;
  font-weight: 400;
  color: #666;
}

// Contraloria

.topView {
  background: #fff;
  color: #96c93d;
  margin-bottom: 15;
  .fas {
    color: #96c93d;
  }
}

.gastoChild {
  background: #fff;
  border-radius: 10 10 10 10;
  padding: 20;
  margin: 10 20;
}

.activity-indicator {
  margin-top: 30;
}

.main-expenses {
  background: #fff;
  border-radius: 10 10 10 10;
  margin: 10 20;
  .single-expense {
    padding: 12 10;
    border-top-color: rgba(176, 222, 253, 0.733);
    border-top-width: 0.5px;
    &:nth-child(1) {
      border-top-width: 0px;
      border-top-color: white;
    }
  }
}

.sosSection {
  background: #ee4d4d;
  color: white;
  text-align: center;
  border-radius: 10 10 10 10;
}

.filter-container {
  width: 90%;
  margin: 10 20;
  border-radius: 10 10 10 10;
}

.filter-month {
  background: #fff;
  padding: 10;
  width: 100%;
  border-left-color: rgba(176, 222, 253, 0.733);
  border-left-width: 0.5px;
  border-right-color: rgba(176, 222, 253, 0.733);
  border-right-width: 0.5px;
  &.active {
    background: #50a8d6;
    color: white;
  }
}

.gastoTopBar {
  background: #0092cb;
  color: white;
}

.boxCard {
  background: white;
  margin: 10;
  width: 40%;
  .card {
    padding: 25 20;
    text-align: center;
    .title {
      font-size: 13px;
      line-height: 4px;
      color: #0092cb;
    }
  }
}

.informesNav {
  background-image: url("~/app/img/informante.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 170;
  flex-direction: column;
}

.wrapped {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.textLabel {
  margin-top: 0;
  font-weight: normal;
  font-size: 14px;
}

.textFull {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10;
}

.landmark-name {
  vertical-align: center;
  font-size: 16;
  color: #666;
  margin: 16 0;
}

.landmark-content {
  padding: 0 16;
  background-color: #ffffff;
}

.landmark-stat-icon {
  height: 24;
}

.landmark-stat-label {
  margin-left: 6;
  margin-right: 14;
  font-size: 12;
  color: #909090;
  vertical-align: center;
}

.landmark-description {
  vertical-align: center;
  font-size: 15;
  color: #666;
  margin: 0 0 20;
}

.landmark-footer {
  vertical-align: center;
  font-size: 10;
  color: #909090;
  margin: 4 0 16 0;
}

.docked-label-container {
  background-color: $darkGreen;
}

.backgroundBlue {
  background-color: $darkblue;
}

.docked-label-text {
  margin: 0 16;
  font-size: 16;
  color: #fff;
  vertical-align: center;
}

.action-bar-label {
  font-size: 22;
  horizontal-align: center;
  vertical-align: center;
  color: white;
}

.action-bar-icon {
  height: 20;
  vertical-align: center;
  margin: 12;
}

/*----------------- SOS ---------------------*/

.sosWrapper {
  border-radius: 150 150 150 150;
  border-width: 3px;
  border-color: $opacityGray;
  width: 150;
  height: 150;
}

.sosBorder {
  margin-top: 10%;
  width: 180;
  height: 180;
  border-radius: 180 180 180 180;
  border-width: 3px;
  border-color: $opacityGray;
}

.sosButton {
  padding: 10 30;
  margin: 40 auto;
  border-width: 1px;
  border-radius: 10 10 10 10;
  border-color: $gray;
  color: $gray;
  width: 250px;
}

.sosForm {
  background: $white;
  margin: 2% 30 30;
  border-radius: 20 20 20 20;
  padding: 20 30;
}

.mainBtn {
  padding: 10 20;
  width: 250px;
  margin: 0 auto;
  font-size: 16;
  font-weight: bold;
  border-radius: 10 10 10 10;
  background: $green;
  color: $white;
}

.sectionTitle {
  font-size: 18px;
  margin: 10 0 5;
  font-weight: bold;
  color: #666;
}
